# Python Foundation

Python Foundation

## Imports

In [4]:
from platform import python_version
import pandas as pd

print(f'Python version: {python_version()}')
print(f'Pandas version: {pd.__version__}')

Python version: 3.11.3
Pandas version: 2.0.0

## Read data

In [5]:
df = pd.read_csv('Week/3/assignment_3_data.csv')
print('Original data:')
print(df)

Original data:
            x0         x1         x34        x35       x36          x41
0     0.196063   3.683995       tesla    thurday -4.664154     $124.72   \
1    23.155197  -9.226725      Toyota       thur  5.220242   $1,273.04
2   -13.969618  -0.343978         bmw  wednesday -0.061424  ($1,651.19)
3    49.722481  -1.500789      Toyota        wed  1.908461     $896.05
4   -13.494403   7.445215       Honda  wednesday  0.074133  ($1,710.27)
..         ...        ...         ...        ...       ...          ...
994  18.373405  -7.902737  volkswagon        wed -3.651558  ($1,520.19)
995  55.762861 -11.687225         bmw    thurday  3.204393     $687.44
996  -8.957643  11.970364       Honda  wednesday  0.309493     $419.60
997   5.887040   5.370001  volkswagon    thurday -3.700755  ($1,214.32)
998   6.778203  -6.325029  volkswagon        wed -3.745862     $980.70

        x45        x46   x68        x84      x93       x94
0    -0.01%  14.360555   Jun -11.072770     asia  0.023357
1    -0.01%   0.328324  July   4.601376     asia  1.349389
2     0.00%   3.824882   Aug  17.351746     asia  2.149993
3     0.01%  -6.201024   Aug   6.084073     asia -3.052037
4     0.01% -12.547338   May  10.035783     asia -0.100660
..      ...        ...   ...        ...      ...       ...
994   0.00%  -4.009639   Oct   8.519576     asia -0.790982
995  -0.02% -13.827186  July   4.745582     asia  2.529016
996   0.00%   2.905907   May  -0.643147     asia  0.600268
997  -0.01%   3.089698  July  -5.489663   euorpe  1.017123
998  -0.01%   8.173062   Jun  12.089001  america -0.290048

[999 rows x 12 columns]

## Clean data

In [6]:
# Rename columns
df.columns = ['x0', 'x1', 'CarMake', 'DayOfWeek', 'x36', 'Amount', 'Percent', 'x46', 'Month', 'x84', 'Continent', 'x94']

# Capitalize the first let of each item in column
df['DayOfWeek'] = df['DayOfWeek'].str.capitalize()
df['Continent'] = df['Continent'].str.capitalize()

# Capitalize the first let of each item in column and all letters if the value is BMW
df['CarMake'] = df['CarMake'] \
  .apply(lambda x: x.capitalize()
    if x.lower() != 'bmw'
    else x.upper())

# Abbreviate all the days and months
df['DayOfWeek'] = df['DayOfWeek'].str.slice(stop=3)
df['Month'] = df['Month'].str.slice(stop=3)

print('Clean data:')
print(df)

# Output data to csv
df.to_csv('Week/3/assignment_3_data_cleaned.csv')

Clean data:
            x0         x1     CarMake DayOfWeek       x36       Amount
0     0.196063   3.683995       Tesla       Thu -4.664154     $124.72   \
1    23.155197  -9.226725      Toyota       Thu  5.220242   $1,273.04
2   -13.969618  -0.343978         BMW       Wed -0.061424  ($1,651.19)
3    49.722481  -1.500789      Toyota       Wed  1.908461     $896.05
4   -13.494403   7.445215       Honda       Wed  0.074133  ($1,710.27)
..         ...        ...         ...       ...       ...          ...
994  18.373405  -7.902737  Volkswagon       Wed -3.651558  ($1,520.19)
995  55.762861 -11.687225         BMW       Thu  3.204393     $687.44
996  -8.957643  11.970364       Honda       Wed  0.309493     $419.60
997   5.887040   5.370001  Volkswagon       Thu -3.700755  ($1,214.32)
998   6.778203  -6.325029  Volkswagon       Wed -3.745862     $980.70

    Percent        x46 Month        x84 Continent       x94
0    -0.01%  14.360555   Jun -11.072770      Asia  0.023357
1    -0.01%   0.328324   Jul   4.601376      Asia  1.349389
2     0.00%   3.824882   Aug  17.351746      Asia  2.149993
3     0.01%  -6.201024   Aug   6.084073      Asia -3.052037
4     0.01% -12.547338   May  10.035783      Asia -0.100660
..      ...        ...   ...        ...       ...       ...
994   0.00%  -4.009639   Oct   8.519576      Asia -0.790982
995  -0.02% -13.827186   Jul   4.745582      Asia  2.529016
996   0.00%   2.905907   May  -0.643147      Asia  0.600268
997  -0.01%   3.089698   Jul  -5.489663    Euorpe  1.017123
998  -0.01%   8.173062   Jun  12.089001   America -0.290048

[999 rows x 12 columns]

### References

- References
  - [The pandas DataFrame: Make Working With Data Delightful](https://realpython.com/pandas-dataframe/)
  - [Renaming columns in a Pandas DataFrame](https://towardsdatascience.com/renaming-columns-in-a-pandas-dataframe-1d909360ddc6)